<style>
    * {box-sizing: border-box;}
    
    body { 
      margin: 0;
      font-family: prohibition, sans-serif;
      font-style: normal;
      font-weight: 400;
      background-color: #111111
    }
    
    .header {
      overflow: hidden;
      background-color: #43FF26;
      padding: 0px 0px;
      position: fixed; 
      top: 0;
      width: 100%;
      z-index: 1;
      box-shadow: -5px -5px 20px grey;
    }
    
    .header a {
      float: left;
      color: #111111;
      text-align: center;
      padding: 12px;
      text-decoration: none;
      font-size: 18px; 
      line-height: 25px;
      border-radius: 4px;
    }
    
    .header a.logo {
      font-size: 25px;
      font-weight: bold;
      color: #260CE8;
    }

</style>
<style>
    .main {
      margin-top: 28px;
    }

</style>
<div class="header">
    <a href="/" class="logo">D A T A   by   S H O E B O X</a>
    </div>
</div>

<div class="main" align="center">
  <iframe width="800" height="720" frameborder="0" scrolling="no" src="//plot.ly/~ChaseAhn/50.embed"></iframe>
  <iframe width="800" height="720" frameborder="0" scrolling="no" src="//plot.ly/~ChaseAhn/33.embed"></iframe>

</div>
<div align="center">
  <iframe width="800" height="720" frameborder="0" scrolling="no" src="//plot.ly/~ChaseAhn/49.embed"></iframe>
  <iframe width="800" height="720" frameborder="0" scrolling="no" src="//plot.ly/~ChaseAhn/29.embed"></iframe>
</div>
<div align="center">
    <iframe width="400" height="350" frameborder="0" scrolling="no" src="//plot.ly/~ChaseAhn/36.embed"></iframe>
    <iframe width="400" height="350" frameborder="0" scrolling="no" src="//plot.ly/~ChaseAhn/39.embed"></iframe>
    <iframe width="400" height="350" frameborder="0" scrolling="no" src="//plot.ly/~ChaseAhn/42.embed"></iframe>
    <iframe width="400" height="350" frameborder="0" scrolling="no" src="//plot.ly/~ChaseAhn/45.embed"></iframe>
</div>
<div align="center">
    <iframe width="1600" height="700" frameborder="0" scrolling="no" src="//plot.ly/~ChaseAhn/53.embed"></iframe>
</div>